<html>
  <body>
    <div>
      Please use this link to reset your password.

      <div style="margin-top: 10px; margin-bottom: 10px">
        <a href="<%= link %>" style="color: cornflowerblue"><%= link %></a>
      </div>

      <div style="color: red; font-size: large">
        <div>Do not share this link with anyone.</div>
        <div>
          If this not come from you. Don't worry. They just try to request new
          password
        </div>
      </div>
    </div>
  </body>
</html>
