<html>
  <body>
    <div>
      Please use this code to verify otp. OTP code is

      <div style="margin-top: 10px; margin-bottom: 10px">
        <div style="color: cornflowerblue; font-size: xx-large">
          <%= otpCode %>
        </div>
        <div style="margin-top: 3px">ref: <%= refCode %></div>
      </div>

      <div style="color: red; font-size: large">
        Do not share this code with anyone
      </div>
    </div>
  </body>
</html>
